<p id="notice"><%= notice %></p>

<h3><%= link_to "Categories", categories_path %> / <%= link_to @categories.find(@article.category_id).category_name, category_path(@article.category_id) %> / <%= link_to "Articles", articles_path %> / <%= @article.title %></h3>

<p>
  <strong>Article Content:</strong>
  <span id="likes-count"><%= @article.likes.count %></span> Likes
  <%= render 'likes/form', article: @article %>
  <%= @article.content %>
</p>

<%= link_to 'Edit this Article', edit_article_path(@article) %> |
<%= link_to 'Back to articles', articles_path %><hr>

<strong><%= @article.comments.count %> Comments <%= link_to "(show table)", article_comments_path(@article) %></strong>
<div class="comments-list">
  <%= render @article.comments %>
</div>
<hr>
<%= render 'comments/form' %>
