<p id="notice"><%= notice %></p>

<p>
  <strong>Category name:</strong>
  <%= @category.category_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<% if can? :update, @article %>
  <%= link_to 'Edit', edits_category_path(@category) %> | 
<% end %>
<%= link_to 'Back', categories_path %>
